Source: apt-sources-ptux-sdk-beaglexm
Section: embedded
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: apt-sources-ptux-sdk-beaglexm
Architecture: all
Depends: ${misc:Depends}
Description: Pragmatux SDK sources.list
 Pragmatux SDK sources.list file
